.grid-container {
  margin-top: 10vh;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 100px 40px 55px 40px 40px 40px 40px 40px;
  gap: 15px;
  grid-template-areas:
    "bild"
    "überschrift"
    "bio"
    "schule"
    "tool"
    "bedingungen"
    "thema"
    "sechs"
  ;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

html {
  background-color: gray;
}

a {
  overflow: hidden;
}

div {
  height: 100%;
}

.bild {
  grid-area: bild;
  width: 100%;
  justify-content: center;
  display: flex;
  height: auto;
}

img {
  border-radius: 12px;
}

.überschrift {
  margin-top: 0px;
  grid-area: überschrift;
  background-color: gray;
  text-align: center;
}

.bio {
  grid-area: bio;
  background-color: gray;
  text-align: center;
}

.schule {
  grid-area: schule;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.schule:hover {
  background-color: darkgray;
  color: lightgray;
}

.tool {
  grid-area: tool;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.tool:hover {
  background-color: darkgray;
  color: lightgray;
}

.bedingungen {
  grid-area: bedingungen;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s; 
}

.bedingungen:hover {
  background-color: darkgray;
  color: lightgray;
} 

.thema {
  grid-area: thema;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.thema:hover {
  background-color: darkgray;
  color: lightgray;
}

.grid-container-vorwort {
  margin-top: 10vh;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 55px 200px 40px 40px 40px 40px 40px;
  gap: 20px;
  grid-template-areas:
    "vorwortzwei"
    "bio"
    "home"
    "onepage"
    "bubble"
    "webflow"
  ;
}

.Vorwort {
  grid-area: vorwortzwei;
  background-color: gray;
  text-align: center;
}

.bio2 {
  grid-area: bio;
  background-color: gray;
  text-align: center;
}

.Home {
  grid-area: home;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.Home:hover {
  background-color: darkgray;
  color: lightgray;
}

.OnePage {
  grid-area: onepage;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.OnePage:hover {
  background-color: darkgray;
  color: lightgray;
}

.Bubble {
  grid-area: bubble;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.Bubble:hover {
  background-color: darkgray;
  color: lightgray;
}

.Webflow {
  grid-area: webflow;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.Webflow:hover {
  background-color: darkgray;
  color: lightgray;
}